.card {
    background-color: darkgray;
    width: 288px;
    margin-bottom: 100px;
}

 .youTubeLink {
     color: white;
     text-decoration: none;
 }

.youTubeLink:hover {
    color: white;
    text-decoration: none;
}