@import url('https://fonts.googleapis.com/css2?family=Pacifico');

body {
    background-color: #e7e7e7;
}
.cont {
    padding-top: 20px;
    background-color: #b9bbbe;
}

.jumbo {
    background-image: url("./logo.jpg");
    background-size: cover;
    font-family: 'Pacifico';
    text-align: center;
    margin-top: 10px;;
    height: 485px;

}
